body {
    background-color: rgb(255, 255, 255);
    width:auto;
    height: auto;
    }
    
    .board {
        display: grid;
       justify-content: center;
    
       background-color: rgb(255, 255, 255);
       grid-template-columns: repeat(8,100px);
       grid-template-rows: repeat(8,100px) ;
    }
    
    .black {
        background-color: black;
    }
    
    .white {
        background-color: white;
        border: 1px solid black;
    }
    